node_modules/
dist/
*.log
.env
.DS_Store
*.db
*.db-journal
uploads/**
**/uploads/**
!uploads/.gitkeep
!**/uploads/.gitkeep
!**/uploads/ifc/.gitkeep
!**/uploads/xkt/.gitkeep
.vscode/
.idea/
"Другой проект с функционалом Фейс ИД"/
